* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black; 
}
.App {
  /*text-align: center;*/
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
}

.App-title {
  font-size: 1.5em;
  color: #c31432;
  display: inline;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
}

 a {
  color: #c31432;
  text-decoration: none;
}

.App-intro {
  font-size: large;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.navBar-ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.navBar-ul > li {
  display: inline;
}

.loginWelcome {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
}

.appBody {
  margin: 20px;
}

.welcomePage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5%;
}

.welcomeArticleList > li {
  margin-bottom: 15px;
}

#welcomeTitle, #welcomeGeneralStats {
  grid-column: 1 / 3;
  text-align: center;
}

 .oddList {
  background-color: #333;
}

.evenList {
  background-color: #222;
}

.mainArticleList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  margin: 20px;
}

.articleListEntry {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}

#articleListTitle {
  grid-column: 1 / 4;
  grid-row: 1;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
}

#articleListPreview {
  grid-column: 1/4;
  grid-row: 2;
}

#articleListAuthor {
  grid-column: 1;
  grid-row: 3;
}

#articleListTopic {
  grid-column: 2;
  grid-row: 3;
}

#articleListVotes {
  grid-column: 3;
  grid-row: 3;
}

.postInfo {
  font-size: .67em;
  font-weight: bold;
  margin: 0;
}

.button {
  font-weight: bold; 
  color: #c31432;
  background-color: inherit;
  border: transparent;
  margin-left: 10px;
  margin-right: 0;
  padding: 0;
}

.userPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5%;
}

.userData {
  display: flex; 
  justify-content: center;
  text-align: center;
  grid-column: 1 / 3;
}

.commentsList h6 {
  margin-top: 0;
  margin-bottom: 15px;
}

.commentsList li {
  margin-bottom: 15px;
}

.submitArticleForm {
  text-align: center;
}

#titleInput {
  width: 50%;
}

#articleInput {
  width: 50%;
  height: 20em;
}

.submitArticleForm h6 {
  margin-bottom: 0;
}

.textInput {
  background-color: inherit;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
