.spinner {
  width: 80px;
  height: 80px;
  background-color: black;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

img {
  width: 80px;
  height: 80px;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) rotateY(0deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(359.9deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(0deg) rotateY(180deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(180deg) 
  } 100% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(359.9deg) 
  }
}